<!-- Navbar -->


<nav class="navbar navbar-expand-sm bg-primary text-light navbar-custom">
    <div class="navbar-brand" style="font-style: italic;">Amlin Technologies</div>

    <ul class="navbar-nav navItemCustom">
        <li class="nav-item">
            <a routerLink="/data" class="nav-link" routerLinkActive="router-link-active">Data</a>
        </li>
        <li class="nav-item">
            <a routerLink="/analysis" class="nav-link ml-3" routerLinkActive="router-link-active">Analysis</a>
        </li>
        <li class="nav-item">
            <a routerLink="/monitor" class="nav-link ml-3" routerLinkActive="router-link-active">Monitor</a>
        </li>
    </ul>
</nav>
<router-outlet></router-outlet>



